/* Google font import for Lato and Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Merriweather", serif; /* Body text */
  --secondary-font: "Lato", sans-serif; /* Headings */
  --primary-color: #477981; /* light teal */
  --secondary-color: #2d5357; /* light charcoal */
  --highlight-color: #cde7b0; /* lightgreen */
  /* --highlight-color-light: #7a9fc2; light blue */
}

/* Global styles */

html {
  /* Add some padding when scrolling to anchors in order for the navbar to not cover the section title */
  scroll-padding-top: 80px;
}

body {
  font-family: var(--primary-font);
  margin-top: 76px;
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

.h1,
.h2,
.h3,
.h4 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

/* Custom styles classes */

.text-shadow {
  text-shadow: 2px 2px 8px #000000;
}

.backgroud-secondary {
  background-color: var(--secondary-color);
}

.bg-light-grey {
  background-color: #f9f9f9;
}

.section {
  margin-top: 3rem;
}

.card {
  border: 1px solid var(--secondary-color);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

/* Buttons custom styles */

.custom-but-outline {
  border: 2px solid var(--highlight-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-but-outline:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.custom-but-outline:active {
  border: 2px solid white;
  background-color: white;
  color: black;
}

.custom-but-fill {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-but-fill:hover {
  background-color: var(--secondary-color);
  border-color: var(--highlight-color);
  color: var(--highlight-color);
}

.btn.custom-but-fill:active {
  border: 2px solid white;
  background-color: white;
  color: var(--secondary-color);
}
/* Custom style for navbar button */

#active-outline.custom-but-outline:active {
  border: 2px solid var(--secondary-color);
  background-color: white;
  color: var(--secondary-color);
}

/* Reverse color fill button */

.custom-but-refill {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  padding: 7px 25px;
  color: var(--secondary-color);
}

.custom-but-refill:hover {
  background-color: var(--highlight-color);
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn.custom-but-refill:active {
  border: 2px solid white;
  background-color: white;
  color: var(--secondary-color);
}

/* Main section fill buttons styles */

.custom-but-main {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-but-main:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
  color: var(--secondary-color);
}

.btn.custom-but-main:active {
  border: 2px solid white;
  background-color: white;
  color: var(--secondary-color);
}
/* Navbar ------------------------------------------------------------------*/

#logo {
  height: 50px;
}

/* Header ------------------------------------------------------------------*/

.hero {
  background: url("../images/meer.webp") no-repeat center center / cover;
  color: white;
  height: 600px;
  width: 100%;
}

.hero h1 {
  color: white;
}

/* Signs Section ---------------------------------------------------------- */
#signs .card {
  margin-bottom: 1.5rem;
}

#signs .card-body {
  display: flex;
  flex-direction: column;
}

#signs .card-body .btn {
  align-self: start; /* or center / end */
  width: auto;
  margin-top: auto;
}
/* Action Section  ---------------------------------------------------------*/
#actions .card {
  margin-bottom: 1.5rem;
}

/* Emergency Section ------------------------------------------------------ */

#emergency {
  background-color: var(--secondary-color);
}

#emergency * {
  color: white;
}

/* Footer ---------------------------------------------------------------- */

#footer {
  background-color: #2e2e2e;
  padding: 10px 0;
  position: ;
}

#footer * {
  color: white;
}

#footer a {
  font-size: 200%;
  padding: 0 10px;
}

#footer p {
  font-size: 80%;
}

/* Custom white line
.white-hr {
  border: 0;
  height: 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  background-color: #fff;
} */

/* Media queries -----------------------------------------------------------*/

/* Small screen --------------------------------------------------*/
@media screen and (min-width: 320px) {
  .hero {
    height: 450px;
  }

  main {
    font-size: 0.9rem;
    line-height: 1.45;
  }

  #carousel .carousel-inner {
    border-radius: 0.75rem;
  }
}

/* Teblets  -----------------------------------------------------*/

@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
  }

  main {
    font-size: 1rem;
    line-height: 1.6;
  }

  #carousel {
    order: -1;
  }

  /* Makes card aligning */

  #signs .card-body {
    min-height: 270px;
  }

  #actions .card-body {
    min-height: 267px;
  }
}

/* Large screens  -----------------------------------------------------*/

@media screen and (min-width: 992px) {
  /* Cards alignment */

  #signs .card-body {
    min-height: 244px;
  }

  #actions .card-body {
    min-height: 220px;
  }

  /* Emergency section */

  #emergency .col-12 {
    align-self: end;
  }
}
