/* Google font import for Lato and Merriweather */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Merriweather", serif; /* Body text */
  --secondary-font: "Lato", sans-serif; /* Headings */
  --primary-color: #508991; /* light teal */
  --secondary-color: #2d5357; /* light charcoal */
  --highlight-color: #cde7b0; /* lightgreen */
  /* --highlight-color-light: #7a9fc2; light blue */
}

/* Global styles */

body {
  font-family: var(--primary-font);
}

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

/* Custom styles classes */

.text-shadow {
  text-shadow: 2px 2px 8px #000000;
}

.backgroud-secondary {
  background-color: var(--secondary-color);
}

/* Buttons custom styles */

.custom-but-outline {
  border: 2px solid var(--highlight-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-but-outline:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.custom-but-fill {
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  padding: 7px 25px;
  color: var(--highlight-color);
}

.custom-but-fill:hover {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

/* Navbar */

/* Header */

.hero {
  background: url("../images/meer.webp") no-repeat center center / cover;
  color: white;
}

.hero h1 {
  color: white;
}
